BibleBraille/src/www.webservicex.net/braille.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.webserviceX.NET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="BrailleText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TextFontSize" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BrailleTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BrailleTextResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BrailleTextSoapIn">
    <wsdl:part name="parameters" element="tns:BrailleText" />
  </wsdl:message>
  <wsdl:message name="BrailleTextSoapOut">
    <wsdl:part name="parameters" element="tns:BrailleTextResponse" />
  </wsdl:message>
  <wsdl:portType name="BrailleSoap">
    <wsdl:operation name="BrailleText">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Convert TEXT to Braille</wsdl:documentation>
      <wsdl:input message="tns:BrailleTextSoapIn" />
      <wsdl:output message="tns:BrailleTextSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrailleSoap" type="tns:BrailleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BrailleText">
      <soap:operation soapAction="http://www.webserviceX.NET/BrailleText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BrailleSoap12" type="tns:BrailleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BrailleText">
      <soap12:operation soapAction="http://www.webserviceX.NET/BrailleText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Braille">
    <wsdl:port name="BrailleSoap" binding="tns:BrailleSoap">
      <soap:address location="http://www.webservicex.net/braille.asmx" />
    </wsdl:port>
    <wsdl:port name="BrailleSoap12" binding="tns:BrailleSoap12">
      <soap12:address location="http://www.webservicex.net/braille.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>