old-test/TESTComp/src/jbiServiceUnits/TEST/www.webservicex.net/BibleWebservice.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.webserviceX.NET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetBibleWordsByChapterAndVerse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookTitle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="chapter" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Verse" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsByChapterAndVerseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBibleWordsByChapterAndVerseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsbyKeyWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BibleWords" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsbyKeyWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBibleWordsbyKeyWordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookTitles">
        <s:complexType />
      </s:element>
      <s:element name="GetBookTitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookTitlesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsByBookTitleAndChapter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookTitle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="chapter" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsByBookTitleAndChapterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBibleWordsByBookTitleAndChapterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBibleWordsByChapterAndVerseSoapIn">
    <wsdl:part name="parameters" element="tns:GetBibleWordsByChapterAndVerse" />
  </wsdl:message>
  <wsdl:message name="GetBibleWordsByChapterAndVerseSoapOut">
    <wsdl:part name="parameters" element="tns:GetBibleWordsByChapterAndVerseResponse" />
  </wsdl:message>
  <wsdl:message name="GetBibleWordsbyKeyWordSoapIn">
    <wsdl:part name="parameters" element="tns:GetBibleWordsbyKeyWord" />
  </wsdl:message>
  <wsdl:message name="GetBibleWordsbyKeyWordSoapOut">
    <wsdl:part name="parameters" element="tns:GetBibleWordsbyKeyWordResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookTitlesSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookTitles" />
  </wsdl:message>
  <wsdl:message name="GetBookTitlesSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="GetBibleWordsByBookTitleAndChapterSoapIn">
    <wsdl:part name="parameters" element="tns:GetBibleWordsByBookTitleAndChapter" />
  </wsdl:message>
  <wsdl:message name="GetBibleWordsByBookTitleAndChapterSoapOut">
    <wsdl:part name="parameters" element="tns:GetBibleWordsByBookTitleAndChapterResponse" />
  </wsdl:message>
  <wsdl:portType name="BibleWebserviceSoap">
    <wsdl:operation name="GetBibleWordsByChapterAndVerse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by Book Title ,Chapter and Verse from the Kings James version Bible </wsdl:documentation>
      <wsdl:input message="tns:GetBibleWordsByChapterAndVerseSoapIn" />
      <wsdl:output message="tns:GetBibleWordsByChapterAndVerseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBibleWordsbyKeyWord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by keyword from the Kings James version Bible </wsdl:documentation>
      <wsdl:input message="tns:GetBibleWordsbyKeyWordSoapIn" />
      <wsdl:output message="tns:GetBibleWordsbyKeyWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookTitles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all books from the Kings James version Bible </wsdl:documentation>
      <wsdl:input message="tns:GetBookTitlesSoapIn" />
      <wsdl:output message="tns:GetBookTitlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by Book Title and Chapter from the Kings James version Bible </wsdl:documentation>
      <wsdl:input message="tns:GetBibleWordsByBookTitleAndChapterSoapIn" />
      <wsdl:output message="tns:GetBibleWordsByBookTitleAndChapterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BibleWebserviceSoap" type="tns:BibleWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBibleWordsByChapterAndVerse">
      <soap:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByChapterAndVerse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBibleWordsbyKeyWord">
      <soap:operation soapAction="http://www.webserviceX.NET/GetBibleWordsbyKeyWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookTitles">
      <soap:operation soapAction="http://www.webserviceX.NET/GetBookTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
      <soap:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByBookTitleAndChapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BibleWebserviceSoap12" type="tns:BibleWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBibleWordsByChapterAndVerse">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByChapterAndVerse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBibleWordsbyKeyWord">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetBibleWordsbyKeyWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookTitles">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetBookTitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByBookTitleAndChapter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BibleWebservice">
    <wsdl:port name="BibleWebserviceSoap" binding="tns:BibleWebserviceSoap">
      <soap:address location="http://www.webservicex.net/BibleWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BibleWebserviceSoap12" binding="tns:BibleWebserviceSoap12">
      <soap12:address location="http://www.webservicex.net/BibleWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>